.search{
  justify-content: center;
  display: flex;
  padding: 20px 0;
}

.error-message{
  justify-content: center;
  display: flex;
  padding: 20px 0;
  color: #F4F5F5;
}
body{
  background-color: #5BAF85;
  background-image: url('/images/people-covered-in-colored-powder-3367459.jpg');
  background-position: center; /* Center the image */

  background-size: cover; /* Resize the background image to cover the entire container */

}